.button {
  display: inline-block;
  height: 61px;
  padding: 0 34px;
  line-height: 61px;
  text-align: center;
  background-color: $buttonPrimaryColor;
  color: $textColor;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear;

  &:hover {
    background: $accentText;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }

}
